body {
  font-size: 18px;
  color: #000000;
  background-color: #a3c2c2;
  font-family: 'Oxygen', sans-serif;;
}

/**HEADER**/
#header-nav  a {
  background-color: #ffffff;
  color: #000000;

}

.container{
  margin: 0;
  padding: 0;
}


.navbar-brand  { /*Restaurant name*/
  font-size: 35px;
  padding-left: 50px;
  color: #000000;
}

.nav-list{
  font: #ff66d9;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-list a:hover {
  background: #E7E7E7;
}

.nav-list a:hover, a:focus {
  text-decoration: none;
}


.navbar-toggle{
  border: 2px solid #000000;
  margin-right: 25px;

}

/**END HEADER**/ 

/**HOME PAGE**/

.text-center{
  margin-bottom: 15px;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

li{
  box-sizing: border-box;
  width: 100%;
  Background-color: #a3c2c2;

}

.menu-item{
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  display: block;
}

.row{
  margin: 20px;
}

.content-box{
  height: 1000px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
}

.item-name{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/**END HOME PAGE**/

